img {
    height: 350px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

body {
    background-color: #90e0ef;
}

h1 {
    text-align: center;
    font-family: cursive;
}

a {
    border: solid;
    color: blue;
    border-radius: 10px;
    padding: 10px;
    font-family: cursive;
}

p {
    text-align: center;
    font-family: cursive;
}

footer {
    margin: 350px 350px 350px 350px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 15px;
    font-family: cursive;
}