body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.header h1 {
    border: solid 1px red;
    font-size: 50px;
}

.presentation {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: x-large;
    align-items: 12px;
}

.images {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin: 0 auto;
}

.image {
    border-radius: 50%;
    margin-top: 20px;
    justify-content: center;
}

.footer {
    color: white;
    text-align: center;
    padding: auto;
}