/* GENERAL */

body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url(../img/pixeliota-JtioJCpUm7w-unsplash.jpg) no-repeat;
    background-size: cover;
}

header, footer {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    padding: 1px;
    color: #FF9B42;
    text-shadow: 1px 1px black;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

section {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 5px;
    border: 1px solid rgba(250, 234, 234, 0.856);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

h1, span {
    margin: 10px;
}

h2 {
    margin: 30px;
    color: #FF9B42;
    text-shadow: 1px 1px black;
}

img {
    width: 35vw;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

article, div {
    flex: 1; 
    
}